<h3>Lista de Numeros</h3>
<button type="button" class="btn btn-success">Nuevo Numero</button>
<br /><br />
<table class="table table-bordered table-success">
  <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let numero of numeros">
      <th scope="row">{{ numero.num }}</th>
      <td>{{ numero.estado }}</td>
      <td>
        <button type="button" class="btn btn-outline-success">Editar</button>
        <button type="button" class="btn btn-outline-danger ml-1">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
