<form class="form_login" [formGroup]="miFormulario" (ngSubmit)="login()">
  <div class="input-group mb-3">
    <input
      type="email"
      formControlName="correo"
      placeholder="Email"
    />
  </div>

  <div class="input-group mb-3">
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
    />
  </div>
  <div class="row">
    <div class="col-4">
      <button
        type="submit"
        class="BotonIni"
        [disabled]="miFormulario.invalid"
      >
        Ingresar
      </button>
    </div>
  </div>
  
</form>
